@model COMP003B.Assignment3.Models.EventRegistration

@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Successful!! </h2>

<p>Your Registration has been Successfully submitted!!</p>

<li>Name: @Model.FullName</li>
<li>Email entered: @Model.Email</li>
<li>Your event code is: @Model.EventCode</li>
<li>Tickets: @Model.Tickets</li>

@if (!string.IsNullOrEmpty(Model.ReferralCode))
{
    <li> Your referral Code is: @Model.ReferralCode</li>
}

<partial name="_EventNav" />

